*
{
  margin: 0;
  padding: 0; 
  box-sizing: border-box; 
}
html
{
    font-size: 16px;
}
body{
    font-family: sans-serif;
}
nav
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header
{
    width: 100%;
    
    top: 0;
    left: 0;
    background: rgb(30, 23, 23);
    color: rgb(167, 123, 123);
    padding: 2rem;
}
.toggle
{
     display: none; 
}
.menu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 550px;
    
}
.menu li a 
{
    color: aliceblue;
    text-decoration: none;
}
.zero
{
    height: 100vh;
    background: bisque ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container1
{
    display: flex;
    padding-top: 60px;
    background-color: antiquewhite;
    justify-content:space-evenly;
    height: 100%;
}
.section-i
{
    padding-top: 100px;
    display: flex;
}
.i
{
    color: darkorange;
}
.s 
{
    border-radius: 75%;
    height: 45px;
    width: 45px;
}
.photo1
{
    height: 380px;
    width: 450px;
}
.photo2
{
    height: 130px;
    width: 150px;
}
.ni{
    padding-left: 660px; 
    font-style: italic;  
 }
.ni1 
{
    display: flex;
    justify-content: space-between;
}
.ni2 
{
    height: 25px;
    width: 143px;
}
.ni3 
{
    height: 25px;
    width: 320px;
}
.eat 
{
    height: 425px;
    width: 400px;
}
.l5
{
    height: 60px;
    width: 300px;
}
.button1
{
    padding-top: 25px;
}
.container2
{
    justify-content: space-around;
    padding: 90px;
}
.container2_1
{
    display: flex;
    justify-content: space-between;
}
.container2_2
{
    display: flex;
    justify-content: space-between;
}
.container2_3
{
    display: flex;
    justify-content: space-between;
}
.t 
{
    height: 350px;
    width: 400px;
}
.container3 
{
    display: flex;
    justify-content: space-around;
}
.si
{

    color: rgb(63, 35, 62);
    width: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
}
.but2
{
   display: flex; 
}
.but1
{
    background-color: green;
    border-radius: 20px;
}
.but3
{
    background-color: greenyellow;
    border-radius: 20px;
}
.but4
{
    background-color: orangered;
    border-radius: 20px;
}
.lala
{
    height: 25px;
    width: 20px;
}
.w 
{
    color: darkorange;
    padding-left: 600px;
    padding-top: 20px;
}
.container-6
{
    background-color: bisque;
    display: flex;
    margin: 0px;
}
.container-6 .rightside
{
 justify-content: space-around;
 padding-top: 245px;
 padding-left: 150px;
}
.container-6 .leftside
{
    justify-content: space-around;
    padding-top: 45px;
}
.x
{
    height: 180px;
    width: 180px;
    padding: 10px;
}
.section-a
{
    display: flex;
    padding-top: 95px;
}
.section-b
{
    display: flex;
    padding-top: 95px;
}
.lime
{
 padding-right: 10px;
    font-size: 20px;
}
.mile
{
    padding-left: 55px;
    font-size: 20px;
}
.dime
{
   padding-right: 10px;
    font-size: 20px;
}
.mide
{
    padding-left: 55px;
    font-size: 20px;
}
.sa 
{
    border-radius: 76%;
    height: 75px;
    width: 75px;
}
.wi
{
    padding-top: 40px;
    color: darkorange;
}
.container7
{
    display: flex;
    justify-content: space-around;
}
.sept-i
{
    background-color: azure;
    border-color: bisque;
    font-size: 25px;
    border-radius: 3%;
    padding: 15px;
}
.sept-e
{
    background-color: bisque;
    border-color: azure;
    font-size: 25px;
    border-radius: 3%;
    padding: 15px;
}
.ai 
{
    background-color: yellow;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    text-overflow: clip;
    transform: rotate(17deg);
    text-align: center;
}
.ti 
{
    color: darkorange;
    font-weight: bold;
    font-size: 50px;
    padding: 35px;
}
.ei 
{
    font-weight: bolder;
    color: black;
    font-size: 100px;
    padding: 35px;
}
.xi
{
    background-color: darkorange;
    padding-bottom: 10px;
    font-size: 20px;
    color: aliceblue;
    border-radius: 15%;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
}

.lila
{
    height: 35px;
    width: 30px;
}
.container-8
{
    display: flex;
    justify-content: space-around;
}
.h9
{
    height: 180px;
    width: 170px;
}
.l1
{
    height: 35px;
    width: 35px;
    padding-left: 5px;
}
.l5
{
    height: 60px;
    width: 300px;
}
.social
{
    display: flex;
}
.container-9
{
    background-color: orangered;  
}
.card-body-1
{
    padding: 50px;
}
.container-9 .six
{
    background-color: aliceblue;
    color: rgb(97, 232, 19);
    border-radius: 35%;
}
.container-9 .leftside
{
    padding: 30px;
    
}
.min
{
    width: 350px;
    height: 350px;
}
.section-h
{
    justify-content: space-between;
    
}
.section-p
{
    justify-content: space-between;
    display: flex;
    
}
.section-pi
{
    display: flex;
    
}
.ji
{
    background-color: darkolivegreen;
    color: aliceblue;
    border-radius: 35%;
    font-size:  25px;
    
}
.pii
{
    padding-left: 165px;
}
.container-10
{
    display: flex;
    justify-content: space-between;
}


@media all and (max-width: 1200px){
   body {
       height: 100%;
   }
    .container1{
    
        flex-direction: column;
        display: flex;
    }
    .container2 {
        flex-direction: column;
    }
    .container2_1 {
    
        flex-direction: column;
    }
    .container2_2 {
        
        flex-direction: column;
    }
    .container2_3 {
        
        flex-direction: column;
    }
    .container3{
        
        flex-direction: column;
    } 
    .container-6{
        
        flex-direction: column;
    } 
    .container7{
        
        flex-direction: column;
    } 
    .container-8{
        
        flex-direction: column;
    } 
    .container-9{
        
        flex-direction: column;
    } 
    .container-10{
        
        flex-direction: column;
    } 
}


@media all and (max-width: 991px){
    body {
        height: 100%;
    }
     .toggle{
        font-size: 2rem;
        display: block;
        position: relative;
        z-index: 21;
         }
         
    
     .ouvrir{
        display: block;
    } 
    .fermer{
        display: none;
    }
    .open .ouvrir{
        display: none;
    } 
    .open .fermer{
        display: block;
    } 
.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    flex-direction: column;
    padding: 2rem;
    justify-content: space-around;
     transform: translateX(-100%); 
    transition: transform 1s;
    z-index: 20;  
}
 /* .menu li a {
    font-size: 2rem;
}  */
.open .menu {
    transform: translateX(0);
} 
.container1{
    
    flex-direction: column;
}
.container2 {
    flex-direction: column;
}
.container2_1 {
    
    flex-direction: column;
}
.container2_2 {
    
    flex-direction: column;
}
.container2_3 {
    
    flex-direction: column;
}
.container3{
    
    flex-direction: column;
} 
.container-6{
    
    flex-direction: column;
} 
.ni1{
    flex-direction: column;
    
}
.container7{
        
    flex-direction: column;
} 
.container-8{
    
    flex-direction: column;
} 
.container-9{
    
    flex-direction: column;
} 
.container-10{
    
    flex-direction: column;
} 
}



@media all and (max-width: 600px){
    menu li a{
        /* position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        padding: 2rem;
        justify-content: space-around;
        transform: translateX(-100%) */
        display: none;
    }
    .w 
{
    color: darkorange;
    padding-left: 100px;
    padding-top: 20px;
}
.ni 
{
    padding-left: 60px;
}
    header
    {
        position: relative;
        width: 100%;
        height: 8vh;
        top: 0;
        left: 0;

    }
   body {
       height: 100%;
   }
    .container1{
        
        flex-direction: column;
    }
    .container2 {
        flex-direction: column;
    }
    .container2_1 {
        
        flex-direction: column;
    }
    .container2_2 {
        
        flex-direction: column;
    }
    .container2_3 {
        
        flex-direction: column;
    }
    .container3{
        
        flex-direction: column;
    } 
    .container-6{
        
        flex-direction: column;
    } 
    .container7{
        
        flex-direction: column;
    } 
    .container-8{
        
        flex-direction: column;
    } 
    .container-9{
        
        flex-direction: column;
    } 
    .container-10{
        
        flex-direction: column;
    } 
    .toggle{
        font-size: 2rem;
        display: block;
        
    }
}


@media all and (max-width: 300px){
    .toggle{
        font-size: 2rem;
        display: block;
        
    }
    .ouvrir{
        display: block;
    }
    .w 
{
    color: darkorange;
    padding-left: 100px;
    padding-top: 20px;
}
    .photo1{
        height: 80px;
        width: 100px;
    }
    .t{
        height: 80px;
        width: 100px;
    }
    body {
        height: 100%;
    }
    header
    {
        position: relative;
        width: 100%;
        height: 8vh;
        top: 0;
        left: 0;
        padding: 0.7rem;
    }
    menu {
        /* position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #000;
        flex-direction: column;
        padding: 2rem;
        justify-content: space-around;
         transform: translateX(-100%);  */
         display: none;
    }
    .toggle{
        font-size: 2rem;
        display: block;
        position: absolute !important;
        display: block;
        top: 2%;
        right: 5%;
    }
    .l5
{
    height: 60px;
    width: 100px;
}
.ni{
    padding-left: 100px;
}
    .container1{
        
        flex-direction: column;
    }
    .container2 {
        flex-direction: column;
    }
    .container2_1 {
        
        flex-direction: column;
    }
    .container2_2 {
        
        flex-direction: column;
    }
    .container2_3 {
        
        flex-direction: column;
    }
    .ni3 
{
    height: 25px;
    width: 220px;
}
.card mb-3
{
    width: 10rem;
}
.card text-center mb-3
{
    width: 10rem;
}
    .container3{
        
        flex-direction: column;
    } 
    .container-6{
        
        flex-direction: column;
    } 
    .container-6 .rightside
{
 justify-content: space-around;
 padding-top: 245px;
 padding-left: 50px;
}
    .container7{
        
        flex-direction: column;
    } 
    .container-8{
        height: 100%;
        flex-direction: column;
    } 
    .container-9{
        
        flex-direction: column;
    } 
    .eat 
{
    height: 225px;
    width: 200px;
}
.pii
{
    padding-left: 90px;
}
    .container-10{
        height: 100%;
        flex-direction: column;
    } 
    .section-i{
        margin: 0;
        padding: 0;
        flex-direction: column;
    }
    .i{
        margin: 0;
        padding: 0;
    }
    .sept-e{
        font-size: 20px;
    }
    .sept-i{
        font-size: 20px;
    }
    .ti{
      margin: 0;
      padding: 0; 
      font-size: 30px; 
    }
    .ei{
        margin: 0;
        padding: 0;
        font-size: 40px;
    }
    .section-a{
        flex-direction: column;
    }
    .section-b{
        flex-direction: column;
    }
}